
<div class="container">
    <div class="col-sm-6">
        <section data-ng-controller="EstudosController">
            <h1>Novo Estudo</h1>
            <form data-ng-submit="create()" novalidate>
                <div class="">
                    <label for="nomeEstudo">Nome do Estudo</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="nomeEstudo" data-ng-model="nomeEstudo" placeholder="Nome do estudo" required>
                    </div>
                </div>
                <div class="">
                    <label for="total">Total</label>
                    <div class="form-group">
                        <input type="text" class="form-control" id="total" data-ng-model="total" placeholder="total">
                    </div>
                </div>
                <div class="">
                    <input type="submit" class="btn btn-info pull-right" value="Cadastrar">
                </div>
                <div class="" data-ng-show="error">
                    <strong data-ng-bind="error"></strong>
                </div>
            </form>
        </section>
    </div>
    <div class="col-sm-3">
        <section class="" data-ng-controller="EstudosController" data-ng-init="find()">
            <h3>Produtos</h3>
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="produto in produtos">
                    <a data-ng-href="#!/produtos/{{produtos._id}}" data-ng-bind="produto.nome"></a>
                    <br>
                    <!--<small data-ng-bind="produto.created | date:'medium'"></small>-->
                    <!--<small>/</small>-->
                    <small data-ng-bind="produto.preco_usd | currency: 'U$ '"></small>
                    <!--<p data-ng-bind="produto.descricao"></p>-->
                </li>
            </ul>
            <div class="container" data-ng-hide="!produtos || produtos.length">
                Ainda não há times. Porque não <a href="/#!/produtos/create">cria um</a>
            </div>
        </section>
    </div>
    <div class="col-sm-3">
        <section class="" data-ng-controller="EstudosController" data-ng-init="find()">
            <h3>Estudos</h3>
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="estudo in estudos">
                    <a data-ng-href="#!/produtos/{{produtos._id}}" data-ng-bind="estudo.nomeEstudo"></a>
                    <br>
                    <!--<small data-ng-bind="produto.created | date:'medium'"></small>-->
                    <!--<small>/</small>-->
                    <small data-ng-bind="estudo.total | currency: 'U$ '"></small>
                    <!--<p data-ng-bind="produto.descricao"></p>-->
                </li>
            </ul>
            <div class="container" data-ng-hide="!produtos || produtos.length">
                Ainda não há times. Porque não <a href="/#!/produtos/create">cria um</a>
            </div>
        </section>
    </div>
</div>

